<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonderList</title>
</head> -->
<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <h3>Edit your Listing</h3>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
            <form  method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">

                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>  <!--here we created an object named Listings which contains many key -->
                    <div class="valid-feedback">
                        Ttile looks good!
                    </div>
                </div>
                <br>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" ><%=listing.description%> required></textarea>
                    <div class="valid-feedback">
                        Please enter a short description.
                    </div>
                </div>
                <br>
                <div>
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" name="listing[image]"  class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a correct URL.
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter a valid location.
                            </div>
                        </div>
                        <br>
                        <div class="col-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter a valid price.
                            </div>
                        </div>
                </div>
                <br>
                <div>
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter a valid country.
                    </div>
                </div>
                <br><br>
                <button class="btn btn-dark edit-btn">Submit</button>
                <br><br>
            </form>
        </div>
    </div>
</body>
<!-- </html> -->